.header{
    text-align: center;
    color: #fff;
    height: 80px;
    padding: 0 100px;
    background-color:#fffffff9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

}